@{
    ViewData["Title"] = "Blog";
}
<!-- ##### Blog Wrapper Area Start ##### -->
<div class="single-blog-wrapper">
    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb">
        <img src="~/img/bg-img/bakeryblog.png" style="width: 100%" alt="" />
    </div>

    <!-- Single Blog Content Wrap -->
    <div class="single-blog-content-wrapper d-flex">
        <!-- Blog Content -->
        <div class="single-blog--text">
            <h2>
                Khám Phá Nơi Bánh Kem, Bánh Ngọt & Mặn, Với Hoa Tươi - Sắc Màu Và Hương Vị Hòa Quyện
            </h2>
            <p style="font-family: Arial, sans-serif;">
                Khi bạn bước vào cửa của Cửa Hàng Bánh Kẹo và Hoa Tươi ở góc phố này, bạn sẽ bị cuốn hút bởi sự hòa quyện của sắc màu tươi sáng và hương vị ngọt ngào. Đây không chỉ là một cửa hàng bình thường, mà là một điểm đến lý tưởng để thỏa mãn mọi người dùng khao khát của bạn về bánh kẹo và hoa tươi.
            </p>

            <blockquote>
                <h6>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> Những chiếc bánh tại đây không chỉ ngon miệng mà còn được làm từ những nguyên liệu tươi ngon nhất, mang đến cho mỗi người thưởng thức cảm giác ngon lành và an toàn. Ngoài ra, đội ngũ nhân viên nhiệt tình và chuyên nghiệp luôn sẵn sàng tư vấn và thiết kế theo ý tưởng riêng của từng khách hàng, để từng chiếc bánh và bó hoa trở nên độc đáo và đặc biệt hơn bao giờ hết
                </h6>
                <span>Liam Neeson</span>
            </blockquote>
            <h6>Bánh kem</h6>
            <p style="font-family: Arial, sans-serif;">
                Bánh kem sinh nhật là một trong những món quà được nhiều người lựa chọn để tặng người mình yêu thương trong ngày sinh nhật. Chiếc bánh sinh nhật không chỉ đơn thuần là quà tặng mà còn chứa đựng những lời yêu thương, ngọt ngào, khiến bữa tiệc sinh nhật trở nên ấm áp và ý nghĩa. Bạn có bao giờ băn khoăn không biết chọn chiếc bánh nào để tặng cho người mình yêu chưa? Đừng lo lắng vì bài viết dưới đây sẽ giới thiệu cho bạn các mẫu bánh sinh nhật ý nghĩa tặng người yêu.
            </p>
            <h6>Bánh ngọt</h6>
            <p style="font-family: Arial, sans-serif;">
                Bánh ngọt không chỉ là món ăn mà còn là nghệ thuật, kết hợp tinh tế giữa bột mì, đường và trứng với sự sáng tạo của người nấu bếp. Từ chiếc cupcake nhỏ xinh đến bánh sinh nhật lớn, mỗi loại bánh có vẻ đẹp và hương vị riêng biệt. Hương vị có thể là sự pha trộn hoàn hảo giữa sô-cô-la đắng, dâu tây tươi, hoặc vani và bơ thơm ngon. Từ bữa sáng nhẹ nhàng đến bánh tart quyến rũ, cảm giác ngọt ngào và hạnh phúc luôn đi kèm mỗi lần cắn.
                Bánh ngọt còn là cách để kết nối con người. Nướng bánh cùng gia đình vào chiều cuối tuần, hay tặng bánh trong những dịp đặc biệt như sinh nhật, là cách gắn kết tình thân và tạo những kỷ niệm đáng nhớ. Mỗi chiếc bánh không chỉ đẹp mà còn mang đến tình yêu và sự chăm sóc từ người làm bánh đến người thưởng thức. Bánh ngọt là nghệ thuật, đam mê và sự chia sẻ từ trái tim này đến trái tim khác.
            </p>
            <h6>Bánh mặn</h6>
            <p style="font-family: Arial, sans-serif;">
                Bánh mặn là một phần không thể thiếu trong ẩm thực của nhiều quốc gia trên thế giới, mang đến sự đa dạng về hương vị và cách chế biến. Được làm từ các loại bột mì, nước và muối, bánh mặn thường có những hương vị đa dạng từ giòn tan đến mềm mại, từ mặn mà đến ngọt ngào.
                Ở Pháp, bánh mặn là một phần quan trọng của ẩm thực với những loại như bánh croissant ngon lành, bánh quiche với nhân phô mai và thịt xông khói, hay bánh baguette giòn tan. Các loại bánh mặn này không chỉ là món ăn để no bụng mà còn mang đến cho thực khách sự thưởng thức về mặt thẩm mỹ và hương vị.
            </p>
            <h6>Hoa tươi</h6>
            <p style="font-family: Arial, sans-serif;">
                Không chỉ làm đẹp cho không gian sống, hoa tươi còn có sức mạnh làm dịu đi cảm xúc và làm cho mỗi khoảnh khắc trở nên đặc biệt hơn. Chúng được sử dụng rộng rãi trong các dịp lễ hội, như sinh nhật, lễ cưới, tang lễ và các dịp kỷ niệm để thể hiện tình cảm và sự quan tâm.
                Việc chăm sóc và tận hưởng vẻ đẹp của hoa tươi không chỉ là một nghệ thuật mà còn là một phần thiết yếu trong cuộc sống hàng ngày. Chúng giúp cho không gian sống trở nên sống động hơn và tạo nên một không gian thân thiện và gần gũi. Với mỗi cành hoa, chúng ta có cơ hội để đắm chìm trong vẻ đẹp tự nhiên và cảm nhận sự tươi mới và tinh khiết mà chúng mang đến.
            </p>
        </div>

        <!-- Related Blog Post -->
        <div class="related-blog-post">
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="~/Hinh/HangHoa/1x1-MY-MUSE-4-800x800.png" alt="" />
                <a href="#">
                    <h5>
                        Thế giới bánh kem trở nên nhiều màu sắc với cách trang trí sáng tạo, tinh tế cùng hương vị thơm ngon. Điều gì tạo nên sức hút của loại bánh này?
                    </h5>
                </a>
            </div>
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="~/Hinh/HangHoa/TIRAMISU1.jpg" alt="" />
                <a href="#">
                    <h5>
                        Khám Phá Vẻ Đẹp Của Bánh Ngọt: Hương Vị Ngọt Ngào Trên Đầu Ngón Tay
                    </h5>
                </a>
            </div>
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="~/Hinh/HangHoa/croissant-chocolate_2.png" alt="" />
                <a href="#">
                    <h5>Khám Phá Hương Vị Tinh Hoa Và Sự Tinh Tế của Bánh Pháp trong kĩ thuật làm bánh</h5>
                </a>
            </div>
            <!-- Single Related Blog Post -->
            <div class="single-related-blog-post">
                <img src="~/Hinh/HangHoa/ke-hoa-chuc-mung2-1.jpg" alt="" />
                <a href="#">
                    <h5>
                        Sắc Hoa Tươi - Vẻ Đẹp Tinh Khiết và Ý Nghĩa Sâu Lắng phải có trong các buổi tiệc. Hoa tươi có sức mạnh làm dịu đi cảm xúc và làm cho mỗi khoảnh khắc trở nên đặc biệt hơn.
                    </h5>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Wrapper Area End ##### -->