@{
    ViewData["Title"] = "Liên hệ";
}

<div class="contact-area d-flex align-items-center">
    <div class="google-map">
        @* <div id="googleMap"></div> *@
        @* <div class="map" id="googleMap"></div> *@
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.88262655859805!2d106.7764604960055!3d10.878322520646462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d9db5b6e66fb%3A0x149e1a0627fca2!2zVGnhu4dtIELDoW5oIE1pTWk!5e0!3m2!1svi!2s!4v1718909426313!5m2!1svi!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="contact-info">
        <h2>How to Find Us</h2>
        <p>
            Mauris viverra cursus ante laoreet eleifend. Donec vel fringilla ante.
            Aenean finibus velit id urna vehicula, nec maximus est sollicitudin.
        </p>

        <div class="contact-address mt-50">
            <p><span>address:</span> 129 Đ. Số 8, Linh Xuân, Thủ Đức, Hồ Chí Minh 700000, Việt Nam</p>
            <p><span>telephone:</span> +84 359504867</p>
            <p><a href="mailto:contact@essence.com">contact@essence.com</a></p>
        </div>
    </div>
</div>

