@{
    ViewData["Title"] = "Hướng dẫn";
}

<div class="single-blog-wrapper">
    <!-- Single Blog Post Thumb -->
    <div class="container py-5">
        <b><h1 class="text-danger text-center text-uppercase mb-4" style="font-family: Arial, sans-serif;">HƯỚNG DẪN ĐẶT BÁNH KEM</h1></b>
        <div class="single-blog-post-thumb">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/bg-img/hd1.jpg" class="d-block w-100" alt="Hình ảnh">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/bg-img/hd2.jpg" class="d-block w-100" alt="Hình ảnh">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/bg-img/hd3.jpg" class="d-block w-100" alt="Hình ảnh">
                    </div>
                </div>
                <button class="carousel-control-prev btn" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next btn" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <p style="text-align: center;" class="mt-2"><i><b>Một số hình ảnh sản phẩm minh họa</b></i></p>

        <div class="single-blog--text">
            <img src="~/img/bg-img/sizecake.png" class="d-block w-100" alt="Hình ảnh size bánh">
            <p style="text-align: center;"><i><b>Chọn kích thước bánh mong muốn</b></i></p>
            <p><b>
                Với tất cả sự chăm chút, khéo léo và cẩn trọng đến từng chi tiết nhỏ, các nghệ nhân làm bánh giàu kinh nghiệm của Essence đã biến mỗi chiếc bánh sinh nhật, bánh cưới...thực sự là một tác phẩm nghệ thuật. Đặc biệt, với thành phần kem sữa tươi và các nguyên liệu hảo hạng khác, các loại bánh cake của Givral không hề béo, cho bạn cảm giác thơm ngon tươi mới để bạn tận hưởng những giây phút ngọt ngào và trọn vẹn bên người thân yêu.
                </b>
            </p>
        </div>
        <div style="text-align: center;">
            <p style="text-align: left;">Đặc biệt, với những thiết kế sang trọng, mẫu mã đa dạng, bánh cake Givral là một món quà ấn tượng và đầy ý nghĩa mà bạn có thể gửi tặng những người mình yêu thương trong những dịp quan trọng của cuộc đời.</p>
        </div>
        <div class="single-blog--text">
            <p>
                Các bạn có thể đặt bánh qua điện thoại, trực tiếp tại cửa hàng, qua email hoặc đặt hàng trực tuyến tại website ESSENCE của chúng tôi
            </p>
            <p>
                Nếu các bạn đã chọn được mẫu bánh ưng ý trên website, chỉ cần cho Thế Giới bánh kem mã bánh. Nếu các bạn có mẫu bánh khác, các bạn gửi mẫu bánh cho Essence qua email, facebook. Nếu các bạn có ý tưởng về mẫu bánh mới, các bạn mô tả mẫu bánh chi tiết rồi gửi thông tin cho Thế Giới Bánh Kem. Bạn có thể thay đổi tất cả các chi tiết trên mẫu bánh theo ý của bạn như: chữ viết, màu sắc, kích thước, hương vị, bố cục...
            </p>
            <p>
                Điện thoại đặt bánh tại Hà Nội: 0988888113
            </p>
            <p>
                Điện thoại đặt bánh tại Hồ Chí Minh: 0988888114
            </p>
            <p>
                Điện thoại đặt bánh tại Đà Nắng: 0988888115
            </p>
            <p>
                Email: essencecake@gmail.com
            </p>
            <p>
                Khi bạn đặt bánh ở Essence chúng tôi, luôn được tặng kèm đèn cầy thông thường và 1 bộ dao thìa đĩa giấy (1 dao + 10 thìa + 10 đĩa giấy) cho 1 bánh thông thường.
            </p>
        </div>
        <span>
            <b>
                Chú ý:
            </b>
        </span>
        <div class="py-3 single-blog--text">
            <p>
                - Khi đã xác nhận đơn hàng, mọi yêu cầu thay đổi (mẫu bánh, chữ viết, thời gian nhận bánh, địa điểm nhận bánh...) trong vòng 12 tiếng đều không thay đổi được.
            </p>
            <p>
                - Khách hàng đặt bánh tặng và đặt tại nhà hàng vui lòng thanh toán 100% bánh trước.
            </p>
            <p>
                - Nhân viên không được phép chụp hình gửi cho khách trước (vui lòng kiểm tra đúng mẫu bánh và yêu cầu trước khi nhận bánh).
            </p>
            <p>
                - Tất cả các file mềm ảnh đều thuộc sở hữu của TGBK và không gửi lại cho khách.
            </p>
            <p>
                - Khách hàng muốn deco trước mẫu bánh, vui lòng thanh toán tiền deco bánh bằng 50% bánh thật.
            </p>
            <p>- Sẽ hoàn tiền cọc cho khách nếu các lỗi là do TGBK và không hoàn tiền cọc nếu lỗi do khách hàng.</p>
        </div>
    </div>
</div>