@{
    ViewData["Title"] = "Chính sách chất lượng ATTP";
}
<div class="single-blog-wrapper">
    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb">
        <img src="~/img/bg-img/quality.png" style="width: 100%" alt="Hình ảnh Chính sách chất lượng ATTP" />
    </div>
    <div class="container py-5">
        <!-- Single Blog Post Thumb -->
        <b><h1 class="text-danger text-center text-uppercase mb-2" style="font-family: Arial, sans-serif;">Chính sách chất lượng An toàn thực phẩm</h1></b>
        <div class="py-4">
            <span>Với phương châm:</span>
            <h6>
                1. “KIỂM SOÁT AN TOÀN THỰC PHẨM TRONG TOÀN BỘ CHUỖI SẢN XUẤT VÀ CUNG CẤP THỰC PHẨM.
            </h6>
            <h6>2. PHÁT HUY HIỆU QUẢ, CHỦ ĐỘNG TRONG VIỆC BẢO VỆ SỨC KHỎE VÀ QUYỀN LỢI NGƯỜI TIÊU DÙNG.</h6>
            <h6>3. KHÔNG NGỪNG CẢI TIẾN ĐỂ NÂNG CAO CHẤT LƯỢNG SẢN PHẨM.”</h6>
        </div>
        <div class="py-4">
            <h4>Tập thể cán bộ nhân viên NHÀ MÁY SX BÁNH KẸO THỰC PHẨM SH cam kết:</h4>
            <div>
                <p>
                    - Tổ chức của chúng tôi cam kết sản xuất các sản phẩm thực phẩm an toàn và chất lượng cao, đáp ứng hoặc vượt qua mong đợi của khách hàng và tuân thủ tất cả các yêu cầu pháp lý và quy định liên quan.
                </p>
                <p>
                    - Tổ chức chúng tôi cam kết duy trì tính hiệu lực và cập nhật liên tục của hệ thống Quản lý chất lượng theo tiêu chuẩn ISO 22000:2018.
                </p>
                <p>
                    - Tổ chức chúng tôi cam kết yêu cầu của khách hàng được đáp ứng đầy đủ và phù hợp với năng lực của công ty.
                </p>
                <p>
                    - Tổ chức chúng tôi cam kết cung cấp cơ sở, nguồn lực đầy đủ cho việc thực hiện duy trì hệ thống QLCL ISO 22000:2018.
                </p>
                <p>
                    - Chính sách HACCP: Tổ chức của chúng tôi đã triển khai một hệ thống HACCP (phân tích mối nguy và Điểm kiểm soát quan trọng) để xác định, đánh giá và kiểm soát các mối nguy hiểm về an toàn thực phẩm tại tất cả các giai đoạn vủa quy trình sản xuất thực phẩm.
                </p>
                <p>
                    - Chính sách kiểm soát chất gây dị ứng: Tổ chức của chúng tôi đã thiết lập các thủ tục để xác định, kiểm soát và đánh dấu các chất gây dị ứng trong sản phẩm thực phẩm của chúng tôi, để đảm bảo an toàn cho tất cả các người tiêu dùng.
                </p>
                <p>
                    - Chính sách quản lý nhà cung cấp: Tổ chức của chúng tôi đã triển khai một chương trình quản lý nhà cung cấp để đảm bảo rằng các nhà cung cấp của chúng tôi đáp ứng các yêu cầu an toàn thực phẩm của chúng tôi và được theo dõi và kiểm tra định kỳ.
                </p>
                <p>
                    - Chính sách theo dõi nguồn gốc sản phẩm: Tổ chức của chúng tôi đã thiết lập một hệ thống theo dõi nguồn gốc sản phẩm để cho phép xác định sản phẩm một cách nhanh chóng và chính xác, trong trường hợp xảy ra bất kỳ vấn đề an toàn nào.
                </p>
            </div>
        </div>
        <div class="py-4">
            <h4>
                Đảm bảo sự cam kết chất lượng tối đa hóa lợi ích, chúng tôi đã và đang hướng tới:
            </h4>
            <div>
                <p>
                    - Duy trì thường xuyên và nâng cao hiệu lực việc kiểm tra, giám sát chất lượng sản phẩm và dịch vụ khách hàng.
                </p>
                <p>
                    - Thu thập và phân tích các yêu cầu để đáp ứng ngay cả các yêu cầu còn tiềm ẩn của khách hàng.
                </p>
                <p>
                    - Chăm sóc khách hàng hiệu quả, gia tăng các mối quan hệ khách hàng mới.
                </p>
                <p>
                    - Nâng cao năng lực sản xuất bằng đầu tư vào công nghệ, kỹ thuật và đảm bảo chất lượng đội ngũ con người chuyên môn.
                </p>
                <p>- Duy trì tìm kiếm liên tục và đánh giá các nhà cung cấp nguyên vật liệu để đảm bảo nguồn cung và chất lượng của các nguyên vật liệu.</p>
            </div>
        </div>
    </div>
</div>
</div>