<!DOCTYPE html>

<html>
<head>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon  -->
    <link rel="icon" href="~/img/core-img/favicon.ico" />

    <!-- Icons CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/core-style.css" />
    <link rel="stylesheet" href="~/css/classy-nav.min.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    @RenderSection("Styles", required: false)
</head>

<body>
    <div>
        <!-- ##### Header Area Start ##### -->
        <header class="header_area">
            <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
                <!-- Classy Menu -->
                <nav class="classy-navbar" id="essenceNav">
                    <!-- Logo -->
                    <a class="nav-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/img/core-img/logo.png" alt="" />
                    </a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler">
                            <span></span><span></span><span></span>
                        </span>
                    </div>
                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                                <span class="top"></span><span class="bottom"></span>
                            </div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                                <li>
                                    <a asp-controller="HangHoa" asp-action="Index">Sản Phẩm</a>
                                </li>
                                <li><a asp-controller="Home" asp-action="Blog">Giới thiệu</a></li>
                                <li><a asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>

                <!-- Header Meta Data -->
                <div class="header-meta d-flex clearfix justify-content-end">
                    <!-- Search Area -->
                    <div class="search-area">
                        <form asp-action="Search" asp-controller="HangHoa">
                            <input type="search"
                                   name="query"
                                   id="searchText"
                                   placeholder="Nhập tìm kiếm" />
                            <button id="searchButton">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <!-- Favourite Area -->
                    <div class="favourite-area">
                        <a href="#"><img src="~/img/core-img/heart.svg" alt="" /></a>
                    </div>



                    <!-- User Login Info -->
                    <div class="user-login-info">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="userMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/img/core-img/user.svg" alt="" />
                                </a>
                                <div class="dropdown-menu justify-content-center align-items-center" style="min-width:8rem" aria-labelledby="userMenu">
                                    <a class="dropdown-item" asp-controller="KhachHang" asp-action="Profile">Thông tin</a>
                                    <a class="dropdown-item" asp-controller="Cart" asp-action="HistoryBill">Đơn Hàng</a>
                                    <a class="dropdown-item" asp-controller="KhachHang" asp-action="DoiMatKhau">Đổi mật khẩu</a>
                                    <a class="dropdown-item" asp-controller="KhachHang" asp-action="DangXuat">Đăng xuất</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a asp-controller="KhachHang" asp-action="DangNhap"><img src="~/img/core-img/user.svg" alt="" /></a>
                        }
                    </div>
                    <!-- Cart Area -->
                    <div class="cart-area">
                        @*<a asp-controller="Cart" asp-action="Index"><img src="~/img/core-img/bag.svg" alt="" /> <span>3</span></a> *@
                        @await Component.InvokeAsync("Cart")
                    </div>
                </div>
            </div>
        </header>
        <!-- ##### Header Area End ##### -->


        <div class="hero-header">
            @RenderBody()
        </div>

        <!-- Footer Start -->
        @await Html.PartialAsync("_Footer")
        <!-- Footer End -->
    </div>


    <!-- ##### Footer Area End ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script> 
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="~/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
    <!-- Carousel js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#searchButton").click(function () {
                let url = `/HangHoa/Search?query=` + $("#searchText").val();
                window.location.href = url;
            });
        });
    </script>

</body>
</html>